<footer class="footer">
    <div class="footer-content">
        <p>Copyright © 2024 Zoe Radio | Powered by Kaizen Media</p>
        <h5>Connect With Us</h5>
        <section class="social-icons-section">
            <div class="social-icons-wrapper">
                <span class="social-icon">
                    <a class="social-icon-link facebook" href="https://web.facebook.com/zoetvkenya" target="_blank" rel="noopener">
                        <span class="sr-only">Facebook</span>
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </span>
                <span class="social-icon">
                    <a class="social-icon-link youtube" href="https://www.youtube.com/channel/UCsiIUfErI-LHyl2PUudC23Q/featured" target="_blank" rel="noopener">
                        <span class="sr-only">YouTube</span>
                        <i class="fab fa-youtube"></i>
                    </a>
                </span>
                <span class="social-icon">
                    <a class="social-icon-link instagram" href="https://www.instagram.com/zoetv_ke/" target="_blank" rel="noopener">
                        <span class="sr-only">Instagram</span>
                        <i class="fab fa-instagram"></i>
                    </a>
                </span>
            </div>
        </section>
    </div>
</footer>
