<div class="home-container">
    <div class="background-image"></div>
    <div class="content">
        <div class="textimage">
            <div class="text-and-button">
                <div class="pzoe">
                    <p class="bold-text">
                        ZOE RADIO is a free to air Radio station in Nairobi, Kenya seeking to
                        impact the youth through media. Zoe is a Greek word meaning life,
                        hence our Mantra; “Inspiring Lives”. Our goal is to empower the next
                        generation with positive and uplifting messages that promote
                        empowerment, resilience, and hope.
                    </p>
                </div>
                <div class="elementor-button-wrapper">
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSf-HIBHG5m2uFdF9-JxTDlYa8velVGTiCmFD9CKo02fnlcC4g/viewform" class="elementor-button-link" role="button">
                        <span class="elementor-button-content-wrapper">
                            <span class="elementor-button-icon elementor-align-icon-left">
                                <i aria-hidden="true" class="far fa-handshake"></i>
                            </span>
                            <span class="elementor-button-text">Click to sign up as a Zoe Radio Partner</span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="image-slider">
                <img [src]="images[currentImage]" class="slider-image" alt="Sliding Image" />
            </div>
        </div>

        <div class="textimage1">
            <div class="text-and-image">
                <div class="image-box">
                    <img src="https://i.ytimg.com/vi/z-OlucJ0I4I/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLADg2pDxpGt-vehxmRtVWmPhpRoLA" class="image-box-img" alt="Image Box" />
                </div>
                <div class="zoetext">
                    <p class="bold-text1">
                        In a world where digital media is often dominated by negativity, Zoe
                        Radio is on a mission to create a counter-narrative. As a
                        youth-centric television station in Kenya, we understand the
                        importance of providing our audience with content that inspires,
                        educates, and entertains. Our goal is to empower the next generation
                        with positive and uplifting messages that promote empowerment,
                        resilience, and hope.
                    </p>
                </div>
            </div>
        </div>

        <div class="centered-image">
            <img src="https://yt3.googleusercontent.com/9AN_rGZMVP6nrtRN65pwyLEEdxwDA1QzzGGDfHHKN1wJgO9d0GeFc4OIEZynbZqwljREA0eRnA=s900-c-k-c0x00ffffff-no-rj" class="footer-image" alt="Centered Image" />
        </div>
    </div>
</div>
